.container {
  background-color: rgb(176, 243, 221);
  height: 50px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hidden {
  display: none;
}
.text {
  color: rgb(207, 4, 4);
}
